<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.cybind.imaginary.imagetolibrary" version="0.0.1">
    <name>ImageToLibrary</name>
    <description>Cordova ImageToLibrary Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,image,base64,library</keywords>
    <engines>
            <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module src="www/ImageToLibraryPlugin.js" name="imagetolibrary">
        <clobbers target="ImageToLibraryPlugin" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ImageToLibraryPlugin">
                <param name="ios-package" value="ImageToLibraryPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/ImageToLibraryPlugin.h" />
        <source-file src="src/ios/ImageToLibraryPlugin.m" />
    </platform>

</plugin>